body {
    background-color: #1e1f24;
    text-align: center;
    font-family: 'Operator Mono Light';
    color: darkred;
    display: flex;
    max-width: 500px;
    margin: 0;
    padding: 0;
    
}
h1 {
    position: relative;
}
.container {
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #DDD;
    margin: 0 auto;
}
.container {
    font-size: 20px;
}
.cabecera {
    background: #37488b;
    box-shadow: 0px 2px 20px 0px rgba(0,0,0,.5);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: .5em;
}
.cabecera .logo {
    width: 20px;
    vertical-align: middle;
}
.tagline {
    margin: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}
<<<<<<< HEAD
.post {
    background-color: white;
    padding: 1em;
}
=======
.footer {
        background: #777;
        color:white;
        text-align:center;
	padding: .5em;
}

>>>>>>> footer
